
<br/>
<br/>
<fieldset>
  <legend>Editing Question</legend>

<% if !(@question.source_id.nil?) %>
<p><b>Question is a private copy</b></p>
<% end %>
<%= render 'form' %>

<%= link_to 'Show', @question %> |
<% if session['review'].nil? or session['review'] == false %>
<%= link_to 'Back', questions_path %>
<% else %>
<%= link_to 'Back', '/questions/review' %>
<% end %>
</fieldset>