<h2>Requirements</h2> <br/>

<% if (session[:showIndustry]) %>
    <%= link_to "Show Requirements Outside of My Industries", "/requirements/change_industry_setting" %>
<% else %>
    <%= link_to "Show Only Requirements Belonging to My Industries", "/requirements/change_industry_setting" %>
<% end %>
<br/>
<br/>
<div id='reqList'>
<%= render 'requirements' %>
</div>
<br />
<br/> <br/>



