<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @vendor_request.user_id %>
</p>


<%= link_to 'Edit', edit_vendor_request_path(@vendor_request) %> |
<%= link_to 'Back', vendor_requests_path %>
