<h1>Editing My Requirement</h1>
<br/>
<br/>
<fieldset>
  <legend>
    Editing My Requirement
  </legend>


<%= render 'form' %>

<%= link_to 'Show', @user_requirement %> |
<%= link_to 'Back', user_requirements_path %>
</fieldset>