<p id="notice"><%= notice %></p>

<p>
  <b>Classname:</b>
  <%= @product_class.className %>
</p>


<%= link_to 'Edit', edit_product_class_path(@product_class) %> |
<%= link_to 'Back', product_classes_path %>
