body { margin:40px; font-size:0.9em; line-height:14px; font-family:Helvetica, Arial, Tahoma; font-size:11px; background: #FFFFFF; }
a { color:#10639a; text-decoration:none;}
a:hover { text-decoration:underline;}
a img {border: none;}
p { padding: 0 10px 5px 10px; }
h1 { font-family: "Myriad Pro", "Trebuchet MS", Arial; margin:0; padding:10px 0 0 10px; text-transform:uppercase; font-size:18px; color:#10639a; }
td {padding: 5px}
#header { padding:50px 60px 0 40px; height:200px; background:url(/assets/limspec_alchemist.jpg) no-repeat #FFFFFF;min-width: 850px; background-position: center; }
#header a{ font-family: "Myriad Pro", "Trebuchet MS", Arial; color:#fffff; text-decoration:none; font-weight:bold; font-size:20px; text-transform:uppercase; letter-spacing:2px; }
#logo { float:right; width:300px; font-size:10px; color:#fff; line-height:12px; padding-top:5px;  }
.menu { background:  #ffffff; height:30px; }
.menu_list {width:850px; margin-left:auto; margin-right:auto; height:30px; text-align:center; }
.menu_list li {display: inline-block;  z-index: 1000; background: #3A678D; padding-top:15px; padding-bottom: 15px; border-right: 0 px solid white; }
.menu_list div a { color:#ffffff; height: 30px; font-size:14px; text-transform:uppercase; font-weight:bold; text-decoration:none; margin:0 10px; font-family: "Myriad Pro", "Trebuchet MS", Arial;}
.menu_list div a:hover{ color:#E98A2A;background-color: #3A678D; }
.menu a { color:#ffffff; height: 30px; font-size:14px; text-transform:uppercase; font-weight:bold; text-decoration:none; margin:0 10px; font-family: "Myriad Pro", "Trebuchet MS", Arial;}
.menu a:hover{ color:#E98A2A;background-color: #3A678D; }
.submenu {visibility: visible; position: absolute; display: inline-block; width: 125px; list-style:none; float: inherit; padding: 0px; margin-top: 10px; margin-left: 0px;}
.submenu li {float: none; margin: 0px; visibility: inherit; width: 130px; background: #3A678D}
.submenu a {color:#ffffff; height: 28px; font-size:10px; text-transform:uppercase; font-weight:bold; text-decoration:none; margin:0 10px; font-family: "Myriad Pro", "Trebuchet MS", Arial;}
.submenu a:hover{color:#E98A2A;background-color: #3A678D;}
.splitter { display:inline;}
.item img { background-color:#FFFFFF; padding:6px; border:1px solid #d0d0d0;}
.item a { display:block; float:left; font-size:12px; color:#bd131d;}
.description { display:block; float:right; width:220px; padding: 10px 20px 30px 0; line-height:12px;}
.requirement {width: 400px;}
p.additional { margin:0 10px; color:#9c9c9c; font-size:10px; line-height:12px; border-top:1px solid #bdbdbd; padding: 10px 0; font-weight:normal;}

#text { margin: 0 10px 0 0; padding:10px;}
#text li {list-style:none; padding-left:20px; background:url(/assets/li.gif) no-repeat 0px 4px;line-height:18px;}
#sidebar { float:right; width:245px; padding: 20px 20px 0 30px; font-size:10px; }
#sidebar a{ font-weight:bold; }
#sidebar h1 { font-family: "Myriad Pro", "Trebuchet MS", Arial; margin:0; padding:0 0 20px 0; text-transform:uppercase; color:#000;}

#main { float:left; background: top right #ffffff; min-width: 900px  }
#footer {font-family: "Myriad Pro", "Trebuchet MS", Arial; background: #ffffff; height:55px; clear:both;  }
#left_footer { float:left; padding:20px 0 0 30px; color:#ffffff; font-size:12px;}
#left_footer a { color:#ffffff;}
#left_footer a:hover { text-decoration:none;}
#right_footer { float:right;  padding:20px 30px 0 0; color:#ffffff;  font-size:12px; text-align:right;}
#right_footer a { color:#ffffff;}

div#user_nav { float: right; font-size: 0.9em; margin-right: 100px}
